.stream-block-start {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    cursor: pointer;
    border: 4px #9c9595 dashed;
}

.stream-block {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

}
.stream-block-header {
    width: 100%;
    padding: 5px;
}

.stream-block-header-name {
    display: flex;
    margin-bottom: 5px;
}

.stream-block-header-name-label {
    margin-right: 5px;
}

.stream-block-code-header-options {
    font-size:12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    padding: 10px;
}

.stream-block-code{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.stream-block-code-body {
    font-size:12px;
    display: flex;
    height: 100%;
    background-color: white;
}

.stream-block-code-miniature {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
}

.stream-block-code-miniature.selected {

    background-color: lightgreen;

}

.stream-block-code-miniature-label {
    flex:1;
    font-size: 12px;
    text-wrap: nowrap;
}

.stream-block-code-miniature-body {
    background-color: #f2f2ea;
    justify-items: center;
    vertical-align: middle;
    border: black 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex:4
}
