.outfocus {
    z-index: 998;
    position: absolute;
    background-color: #00000042;
    height: 100%;
    width: 100%;
}
.select-template {
    z-index: 999;
    position: absolute;
    height: 300px;
    width: 300px;
    margin-left: 100px;
    margin-top: 100px;
    border-radius: 10px;
    border:#000 solid 1px;
    background-color: #f2f2ea;

}


body {
    display: flex;
    flex-direction: column;
    font-family: Nunito,Arial!important;
    font-size: 20px!important;
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: #f2f2ea;

}

.header {
    flex: 1;
    max-height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    margin:0px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-addBlock {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    border-right: 1px #c2c2c2 solid;
}

.header-addBlock-add {
    background-color: #75ed03;
    border-radius: 10px;
    margin-right: 10px;
}

.header-logo {
    border-right: 1px solid #000;
    margin-right: 5px;
    vertical-align: middle;
    padding: 10px

}


.header-appSelecion-label {
    font-size: 18px;
    margin-right: 10px;
}

.header-appSelecion-select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    outline: none;
    width: 300px;

}

.header-appSelecion-select:focus {
    border-color: #007bff;
}

.content {
    display: flex;
    height: 100%;
    width: 100%;
    flex: 9;
}

.content-blockSetup {
    align-items: center;
    justify-content: center;
    flex:7;
    border-right: 1px solid #000;
    height: 100%;
    align-items: stretch;
}

.content-blockView {
    flex:3;
    height: 100%;

}

.display-none {
    display: none;
}

.pointer{
    cursor: pointer;
}