.outfocus {
    z-index: 998;
    position: absolute;
    background-color: #00000042;
    height: 100%;
    width: 100%;
}

.select-template {
    z-index: 999;
    position: absolute;
    height: 300px;
    width: 300px;
    margin-left: 100px;
    margin-top: 100px;
    border-radius: 10px;
    border:#000 solid 1px;
    background-color: #f2f2ea;
    padding: 5px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate 2s linear infinite;
}

body {
    
    display: flex;
    flex-direction: column;
    font-family: Nunito,Arial!important;
    font-size: 20px!important;
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: #f2f2ea;

}

.header {
    flex: 1;
    max-height: 30px;
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 0px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    align-content: center;
    align-items: center;
}

.header-addBlock {
    display: flex;
    background-color: #f2f2ea;
    border: 1px #000 solid;
    height: 100%;
    border-radius: 3px;
    width: 40px;
    padding: 0px;
}

.header-addBlock-add {
    background-color: #75ed03;
    margin: 0;
    border:none;
    width: 27px;
    border-right: 1px #000 solid;
}

.header-logo {
    border-right: 1px solid #000;
    margin-right: 5px;
    vertical-align: middle;
    padding: 10px

}

.header-appSelecion-label {
    font-size: 18px;
    margin-right: 10px;
}

.header-appSelecion-select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    outline: none;
    width: 300px;

}

.header-appSelecion-select:focus {
    border-color: #007bff;
}


.header-run {
    display: flex;
    width: 30;
    height: 100%;
    background-color: #75ed03;
    border-radius: 3px;
    margin-left: 10px;
    border: 1px solid #000;
    align-items: center;
    justify-content: center;
}

.header-openApp {
    margin-left: 10px;
}

.content {
    display: flex;
    height: 100%;
    width: 100%;
    flex: 9;
}

.content-blockSetup {
    align-items: center;
    justify-content: center;
    flex:7;
    border-right: 1px solid #000;
    height: 100%;
    align-items: stretch;
}

.content-blockView {
    flex:3;
    height: 100%;

}

.display-none {
    display: none;
}

.pointer{
    cursor: pointer;
}

